<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3434521697-1ohmlplgvis61mk2rq9d5iodsv2615f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3434521697-1ohmlplgvis61mk2rq9d5iodsv2615f1</string>
	<key>API_KEY</key>
	<string>AIzaSyB83GQ_CYeTWFMX9TVT-NkCMyWTwXX_VXs</string>
	<key>GCM_SENDER_ID</key>
	<string>3434521697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rehearsalPay</string>
	<key>PROJECT_ID</key>
	<string>lucky-bag-community</string>
	<key>STORAGE_BUCKET</key>
	<string>lucky-bag-community.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3434521697:ios:38b1ed1a95ba3d877df620</string>
</dict>
</plist>